<h2>Edit <%= resource_name.to_s.humanize %> Profile</h2>

<div class="edit-form-container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "edit-form" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="confirmation-message">
        Currently waiting confirmation for: <strong><%= resource.unconfirmed_email %></strong>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :bio, class: "field-label" %><br />
      <%= f.text_area :bio, rows: 3, class: "input-text" %>
    </div>

    <div class="field" data-controller="avatar">
      <%= f.label :pfp_url, "Profile Picture", class: "field-label" %><br />
      <%= f.text_field :pfp_url, placeholder: "Profile picture URL", class: "input-text", data: { target: "avatar.urlField"} %>
      <%= f.file_field :avatar, id: "avatar", data: { target: "avatar.fileInput", action: "change->avatar#handleFileSelect" } %>
      <button type="button" data-target="avatar.removeButton" style="display: none;" data-action="click->avatar#removeFile">
        Use URL Instead
      </button>
    </div>

    <div class="field">
      <%= f.label :password, class: "field-label" %>
      <small>(leave blank if you don't want to change it)</small><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "input-text" %>
      <% if @minimum_password_length %>
        <small><%= @minimum_password_length %> characters minimum</small>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: "field-label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-text" %>
    </div>

    <div class="field">
      <%= f.label :current_password, class: "field-label" %>
      <small>(we need your current password to confirm changes)</small><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "input-text" %>
    </div>

    <div class="actions">
      <%= f.submit "Update Profile", class: "submit-button" %>
    </div>
  <% end %>

  <h3>Delete Account</h3>
  <div class="delete-account">
    <p class="warning-text">This action is irreversible.</p>
    <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure you want to delete your account?" }, method: :delete, class: "delete-button" %>
  </div>

  <%= link_to "Back", :back, class: "back-link" %>
</div>
