<nav class="homebar">
  <ul>

  <%= form_with url: search_posts_path, method: :get, data: { turbo_frame: "main-content" }, local: true do |form| %>
    <%= form.text_field :query, placeholder: "Search posts...", class: "search-input" %>
    <%= form.submit "Search", class: "search-button" %>
  <% end %>

    <li><%= link_to "Home", root_path %></li>

    <li id="notification-badge" data-turbo-target="notification_badge">
      Notifications
    </li>
    <li><%= link_to "Create", new_post_path %></li>
    <% if current_user %>
      <div class="profile-nav">
        <%= link_to "Profile", user_path(current_user), class: "profile-link" %>
        <%= image_tag(current_user.pfp_url, alt: "#{current_user.username}'s profile picture", class: "profile-nav-picture") if current_user.pfp_url.present? %>
      </div>
    <% end %>
  </ul>
</nav>