<div class="post-card">

  <div class="post-main">
    <div class="post-text">
      <a href="<%= post_path(post) %>" class="post-title-link">
        <h2 class="post-title"><%= post.title %></h2>
      </a>

      <div class="post-author-info">
        <span>by</span>
        <img src="<%= post.author.pfp_url %>" alt="<%= post.author.username %> profile picture" class="mini-profile-picture">
        <a href="<%= user_path(post.author) %>" class="author-link"><%= post.author.username %></a> 
        <span class="follow-button-wrapper"><%= display_follow_button(post.author) %></span>
      </div>

      <p class="post-body"><%= post.body.truncate(100) %></p>

      <div class="post-actions">
        <%= button_to "Like #{post.likes.count}", like_user_path(current_user, post_id: post.id), method: :post, remote: true, class: "like-button" %>
      </div>
    </div>
      
    <%= image_tag post.file, class: "post-img" if post.file.attached? %>
  </div>

  <div class="post-comments">
    <%= display_card_comments(post.comments) %>
  </div>
</div>
